@model EditViewModel;
<link rel="stylesheet" href="~/css/profile.css" asp-asp-append-version="true" />
<div class="row profile-div">
    <div class="col-4"></div>
    <div class="col-4" align="center">
        <form asp-action="EditExistingUser" asp-controller="Profile" method="POST">
            <h3>Edit profile information</h3>
            <div class="profile-part">
                <label for="username" class="fw-bold">
                    Naam
                </label>
                <input id="username" name="username" type="text" value="@Model.User.Name">
            </div>
            <div class="profile-part">
                <label for="role" class="fw-bold">
                    Role
                </label>
                @foreach(RoleViewModel role in Model.Roles)
                {
                    <div class="user-role">
                        @if(Model.User.Role.Name == role.Name)
                        {
                            <input type="radio" id="userRole" name="userRole" value="@role.Name" checked>
                        }
                        else
                        {
                            <input type="radio" id="userRole" name="userRole" value="@role.Name">
                        }
                        <label for="@role.Name">@role.Name</label>
                    </div>
                }
                <button asp-route-id="@Model.User.Id" asp-action="EditExistingUser" asp-controller="Profile" type="submit" class="btn btn-outline-primary profile-button">Edit</button> <button asp-controller="Profile" asp-action="Index" class="btn btn-outline-danger">Go back</button>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>